body{
	background-color: black;
}

h1{
	text-align: center;
	color: white;
	font-family: "Freestyle Script", "Lucida Calligraphy", "Georgia", "Arial";
	font-size: 70px;
	margin-bottom: 20px;
}

p {
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Merriweather", "Montserrat", "Helvetica", "Georgia", "Arial";
}

ol {
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Merriweather", "Montserrat", "Helvetica", "Georgia", "Arial";
}



#firefly-wrapper{
	margin: auto;
}

#firefly-visual{
	display: block;
	margin: auto;
}

img{
	border-radius: 8px;
/*	display: block;*/
	float: left;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 0px;
  display: block;
  float: left;
}

.times{
	display: block;
	float: left;
	margin-left: 20px;
	margin-right: 5%;

}